*{background-color: white;
    
}


.primeraletra{
    display: inline;
    color: #D19C97;
   font-size: 50px;
}

.nombre{
    display: inline;
    font-size: 50px;
}

.total{
    width: 100%;
    height: 70rem;
    ;
}
.barrabusqueda{
    margin-top: 30px;
    width: 70%;
    height: 40px;
}
.boton{
    height: 40px;
    width: 40px;
    color: #D19C97;
}


.form{
    opacity: .5;
}


.aside{
    width: 25px;
    height: 350px;
    display: inline;
}

.color-acordeon{
background-color: #D19C97;
width: 500px;
height: 75px;
text-align: left;
padding-left:25px ;
}
.boton-acordeon{
    text-align: left;
    margin-left: 0px;
    width: 370px;
    height: 50px;
}
.inicio{
    background-color: black;
   height: 300px;
   width: 1300px;
   margin-left: 525px;
}